<div class="container">
  <div class="wrapper">
    <p style="color: red; font-weight: bold;">{{errorMessage}}</p>
    <table>
      <tr class="header">
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Age</td>
        <td>#</td>
      </tr>
      <tbody *ngFor="let g of groups">
        <tr>
          <td colspan="5">{{g.CustomerTypeId}} - {{g.CustomerTypeName}}</td>
        </tr>
        <tr *ngFor="let c of g.Customers">
          <td>{{c.Id}}</td>
          <td>{{c.Name}}</td>
          <td>{{c.Email}}</td>
          <td>{{c.Age}}</td>
          <td>
            <img src="{{c.Image}}">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>cd /workspaces/K244111410_TruongNgocThuyLinh_bai18
git add .
git commit -m "Hoan thanh bai 18 - Group Customers"
git push